<div class="container">
    <h2 oda-label="qcm-manage.title"></h2>

    <div class="row">
        <div class="col-md-12">
            <span oda-label="qcm-manage.hello"></span>
        </div>
        <div class="col-md-12" style="padding: 10px">
            <button type="button" oda-label="oda-main.new" onclick="$.Oda.App.Controller.ManageQcm.formQcm();" class="btn btn-primary">oda-main.new</button>
        </div>
        <div class="col-md-12" id="divTabQcm">
            <oda-loading></oda-loading>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controller.ManageQcm.start();
</script>

<script id="formQcm" type="text/template">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="desc" oda-label="qcm-manage.desc">qcm-manage.desc</label>
                <input required type="text" class="form-control" oda-input-text="desc" oda-input-text-tips="qcm-manage.desc-tips" oda-input-text-placeholder="qcm-manage.desc-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="titleNewQcm" oda-label="qcm-manage.titleNewQcm">qcm-manage.titleNewQcm</label>
                <input required type="text" class="form-control" oda-input-text="titleNewQcm" oda-input-text-tips="qcm-manage.titleNewQcm-tips" oda-input-text-placeholder="qcm-manage.titleNewQcm-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="hours" oda-label="qcm-manage.hours">qcm-manage.hours</label>
                <input required type="text" class="form-control" oda-input-text="hours" oda-input-text-tips="qcm-manage.hours-tips" oda-input-text-placeholder="qcm-manage.hours-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="duration" oda-label="qcm-manage.duration">qcm-manage.duration</label>
                <input required type="text" class="form-control" oda-input-text="duration" oda-input-text-tips="qcm-manage.duration-tips" oda-input-text-placeholder="qcm-manage.duration-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="detailsNewQcm" oda-label="qcm-manage.detailsNewQcm">qcm-manage.detailsNewQcm</label>
                <input required type="text" class="form-control" oda-input-text="detailsNewQcm" oda-input-text-tips="qcm-manage.detailsNewQcm-tips" oda-input-text-placeholder="qcm-manage.detailsNewQcm-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="location" oda-label="qcm-manage.location">qcm-manage.location</label>
                <input required type="text" class="form-control" oda-input-text="location" oda-input-text-tips="qcm-manage.location-tips" oda-input-text-placeholder="qcm-manage.location-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <hr>
    <div id="tableFile"></div>
</script>

<script id="select" type="text/template">
    <div class="form-group">
        <label for="{{id}}" oda-label="qcm-manage.{{id}}">qcm-manage.{{id}}</label>
        <select class="form-control" oda-input-select="{{id}}" required>
            <option value="" oda-label="oda-main.select-default"></option>
            {{datas}}
        </select>
    </div>
</script>

<script id="tpltHorse" type="text/template">
    <button onclick="$.Oda.App.Controller.ManageQcm.detailHorse(this);" type="button" class="btn btn-{{color}} btn-xs" id="divHorse-{{userId}}" title="{{userId}}" data-id="{{userId}}">{{lastName}}.{{firstName}}</button>
</script>

<script id="tplDetailHorse" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <label oda-label="qcm.company">qcm.company</label>: {{company}}
        </div>
        <div class="col-md-6">
            <label oda-label="qcm-manage.createDate">qcm-manage.createDate</label>: {{createDate}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span oda-label="qcm-manage.urlGetSessionUser"></span>{{urlGetSessionUser}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="tabAddress">
                    <thead>
                    <tr>
                        <th style="width: 50px">#</th>
                        <th oda-label="qcm-manage.question">question</th>
                        <th style="width: 50px" oda-label="qcm-manage.nbError">nbError</th>
                        <th style="width: 150px" oda-label="qcm-manage.recordDate">recordDate</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{contentTabHisto}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script id="tpltStats" type="text/template">
    <ul class="nav nav-tabs">
        <li class="active"><a onclick="$.Oda.App.Controller.ManageQcm.displayStatsByQuestion({ id:{{id}}, that: this })">Général</a></li>
        <li><a onclick="$.Oda.App.Controller.ManageQcm.displayStatsByUserGeneral({ id:{{id}}, that: this })">Utilisateurs général</a></li>
        <li><a onclick="$.Oda.App.Controller.ManageQcm.displayStatsByUserDetails({ id:{{id}}, that: this })">Utilisateurs détails</a></li>
    </ul>
    <div id="graph"></div>
</script>