<div class="container">
    <h2 oda-label="qcm-manage.title"></h2>

    <div class="row">
        <div class="col-md-12">
            <span oda-label="qcm-manage.hello"></span>
        </div>
        <div class="col-md-12" style="padding: 10px">
            <button type="button" oda-label="oda-main.new" onclick="$.Oda.App.Controller.ManageQcm.formQcm();" class="btn btn-primary">oda-main.new</button>
        </div>
        <div class="col-md-12" id="divTabQcm">
            <oda-loading></oda-loading>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controller.ManageQcm.start();
</script>

<script id="formQcm" type="text/template">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="desc" oda-label="oda-admin.edit_desc">oda-admin.edit_desc</label>
                <input required type="text" class="form-control" oda-input-text="desc" oda-input-text-tips="oda-admin.edit_desc-tips" oda-input-text-placeholder="oda-admin.edit_desc-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <div id="tableFile"></div>
</script>

<script id="select" type="text/template">
    <div class="form-group">
        <label for="{{id}}" oda-label="qcm-manage.{{id}}">qcm-manage.{{id}}</label>
        <select class="form-control" oda-input-select="{{id}}" required>
            <option value="" oda-label="oda-main.select-default"></option>
            {{datas}}
        </select>
    </div>
</script>

<script id="templateDetailQcmUser" type="text/template">
    <div id="divDetailUser-{{id}}">
        <ul>
            <li>{{id}} - {{firstName}} {{lastName}} - {{createDate}}</li>
            <ul id="histo-{{id}}" data-id="{{id}}">
            </ul>
        </ul>
    </div>
</script>

<script id="templateQuestion" type="text/template">
    <li style="color: {{color}}">
        {{question}} - {{nbErrors}} - {{recordDate}}
    </li>
</script>