<div class="container">
    <h2><oda-label oda-label-value="qcm.title"/></h2>

    <div class="row">
        <div class="col-md-12">
            <oda-label oda-label-value="qcm.hello"/>
            <br/>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="progress">
                <div id="progressBar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="qcm">
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controller.Qcm.start();
</script>

<script id="qcmTitle" type="text/template">
    <div id="{{id}}" style="display: none;">
        <div class="row">
            <div class="col-md-11 text-center">
                <h2>{{title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <oda-btn oda-btn-style="primary" oda-btn-enter="1" oda-btn-icon-before="ok" oda-btn-click="$.Oda.App.Controller.Qcm.moveNext();">qcm.start</oda-btn>
            </div>
        </div>
    </div>
</script>

<script id="qcmQuestion" type="text/template">
    <div id="{{id}}" style="display: none;">
        <h2>{{titleQcm}} - {{title}}</h2>
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                {{responses}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <oda-btn oda-btn-name="validate-{{id}}" oda-btn-style="primary" oda-btn-icon-before="ok" oda-btn-click="$.Oda.App.Controller.Qcm.validate();">qcm.validate</oda-btn>
                <oda-btn oda-btn-name="submit-{{id}}" oda-btn-style="success" oda-btn-icon-before="ok" oda-btn-click="$.Oda.App.Controller.Qcm.moveNext();" style="display: none;">qcm.next</oda-btn>
            </div>
        </div>
    </div>
</script>

<script id="qcmResponse" type="text/template">
    <oda-input-checkbox 
        oda-input-checkbox-name="{{id}}" 
        oda-input-checkbox-tips="{{title}}"
        data-attempt="{{responseBody}}"/>
</script>