<div class="container">

    <div id="certificate" class="certificate">
        <div class="banner"></div>
        <div class="card">
            <div class="content">
                <span class="title"><oda-label oda-label-value="qcmFinish.certComple"/></span> <span id="medal">or</span> <span class="title">!</span>
                <p class="press"><oda-label oda-label-value="qcmFinish.certPress"/></p>
                <h2 class="trainee" id="trainee"></h2>
                <div class="sep"></div>
                <p class="for"><span><oda-label oda-label-value="qcmFinish.certDate"/></span><span id="qcm"></span></p>
            </div>
            <div class="accurate">
                <div class="progress-radial" id="progress">
                    <div class="overlay">
                        0%
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-md-12">
            <oda-btn oda-btn-style="primary" oda-btn-icon-before="print" oda-btn-click="$.Oda.App.Controller.QcmFinish.getPdfCertificate();">qcmFinish.getPdf</oda-btn>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controller.QcmFinish.start();
</script>