<script id="emarg-tpl" type="text/template">
    <div class="row">
        <div class="col-md-12">
            <h2 oda-label="qcm-main.emargTitle"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><span oda-label="qcm-main.title">qcm-main.title</span> {{title}}</p>
            <p><span oda-label="qcm-main.location">qcm-main.location</span> {{location}}</p>
        </div>
        <div class="col-md-6">
            <p><span oda-label="qcm-main.hours">qcm-main.hours</span> {{hours}}</p>
            <p><span oda-label="qcm-main.duration">qcm-main.duration</span> {{duration}}</p>
            <p><span oda-label="qcm-main.details">qcm-main.details</span> {{details}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover" id="tabEmarg">
                <thead>
                    <tr>
                        <th rowspan="2"><span oda-label="qcm-main.trainer">qcm-main.trainer</span> {{trainer}}</th>
                    </tr>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span oda-label="qcm-main.trainee">qcm-main.trainee</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>