<script id="emarg-tpl" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <p>Intitulé de la formation : {{title}}</p>
            <p>Lieu : à distance</p>
        </div>
        <div class="col-md-6">
            <p>Horaires : 14h- 17h30</p>
            <p>Nombre d’heures total : 10h50</p>
            <p>Version Bonita BPM : BonitaBPM-Subscription-7.1.0</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover" id="tabEmarg">
                <thead>
                    <tr>
                        <th rowspan="2">Formateur: {{trainer}}</th>
                    </tr>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nom et société des participants</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>