<script id="emarg-tpl" type="text/template">
    <div class="row">
        <div class="col-md-12">
            <h2><oda-label oda-label-value="qcm-main.emargTitle"/></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><oda-label oda-label-value="qcm-main.title"/> {{title}}</p>
            <p><oda-label oda-label-value="qcm-main.location"/> {{location}}</p>
        </div>
        <div class="col-md-6">
            <p><oda-label oda-label-value="qcm-main.hours"/> {{hours}}</p>
            <p><oda-label oda-label-value="qcm-main.duration"/> {{duration}}</p>
            <p><oda-label oda-label-value="qcm-main.details"/> {{details}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover" id="tabEmarg">
                <thead>
                    <tr>
                        <th rowspan="2"><oda-label oda-label-value="qcm-main.trainer"/> {{trainer}}</th>
                    </tr>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><oda-label oda-label-value="qcm-main.trainee"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>